@page "{TerritoryID?}"
@*{RegionID}/{..}/{..}*@
@model WebApp.Pages.Samples.ReceivingPageModel
@{
    ViewData["Title"] = "Receiving passed data";
}
<h1>Receiving Pass of passed data</h1>

@if (@Model.TerritoryID == null)
{
    <p>NO value was passed &gt;@Model.TerritoryID&lt;</p>
}
else
{
    <p>The value you passed was @Model.TerritoryID</p>    
}




<p>@Model.Feedback</p>