@page
@model WebApp.Pages.Samples.RegionQueryOneModel
@{
    ViewData["Title"] = "PKey Region Query";
}
<h1>Query: Region query by primary key</h1>
<p>@Model.FeedBackMessage</p>
<form method="post">
    <label>
        Enter Region ID:
        <input type="number" asp-for="RegionID";
            placeholder="Enter your region ID number" />
    </label>
    <button type="submit">Fetch By ID</button>
</form>
